.aurora-container {
  width: 100%;
  height: 100%;
  position: relative;
  top: 3px;
  z-index: 15;
}
@media (max-width: 480px) {
    .aurora-container{
        position: relative;
        top: 0px;
    }
}